.contactForm {
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid grey;
  width: 350px;
  flex-direction: column;
}

.labelForm {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0d55a7;
  padding-right: 10px;
  padding-bottom: 5px;
}

.inpurForm {
  width: 180px;
  height: 25px;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0d55a7;
}

.formBtn {
  width: 120px;
  height: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0d55a7;
  border-radius: 5px;
  background-color: #97deff24;
}

.formBtn:hover {
  color: #fff;
  background-color: #0d55a7;
}
