.contactList {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #0d55a7;
  align-items: center;
}
.contactListItem {
  margin-bottom: 15px;
}

.contactListBtn:hover {
  color: #fff;
  background-color: #0d55a7;
}
